.bgCard {
    background-image: linear-gradient(to top, rgba(6, 19, 27, 0.335), rgba(21, 162, 180, 0.678));
}
.proyectImg{
    padding: 6px;
}
.textFilter{
    color: forestgreen;
    text-align: center;
}
.teextUser{
    color:white
}
.titleRow{
    padding-top: 36px;
    padding-left: inherit;
}
.textCreateProyect{
    color:lightblue;
}
.filters{
    border: solid;
    border-color: forestgreen;
    height: 4vw;
    margin-top: 32px;
    border-bottom-color: rgba(0, 0, 0, 0);
    
}

