<div class="container-fluid">
    <div class="row ">
        <div class="card int-form col-md-5 offset-md-4 loginCard">
            <!-- <img src="https://ih1.redbubble.net/image.430476727.0382/flat,128x128,075,t.u4.jpg" class="card-img-top"> -->
            <br>
            <h1 class="logiTtext">Login</h1>
            <br>
            <form class="int-form" name="formularioRegistro" (ngSubmit)="miFormulario.form.valid && submitData()"
                #miFormulario="ngForm">
                <input type="text" class="form-control mb-3" placeholder="Username" required name="username"
                    #inputUsername="ngModel" [(ngModel)]="formData['username']">

                <p *ngIf="inputUsername.invalid && inputUsername.touched">Campo es obligatorio</p>


                <input class="form-control mb-1" placeholder="Password" type="password" required
                    pattern=" ^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$" name="password" #inputPassword="ngModel"
                    [(ngModel)]="formData['password']">

                <p *ngIf="inputPassword.invalid && inputPassword.dirty">el formato de la contraseña no es valido</p>
                <p *ngIf="inputPassword.invalid && inputPassword.touched  && inputPassword.pristine">Campo es obligatorio</p>
                <br>
                <button class="btn btn-success btn-lg btn-block mb-3" type="submit">SIGN IN</button>
                <button routerLink="/register" class="btn btn-primary btn-lg btn-block mb-3"
                    type="submit">REGISTER</button>
                <hr>
                <div style="text-align: center;">
                    <a routerLink=" ">Forgot password? </a>
                    <br>
                    <br>
                    <a routerLink="/home">Home</a>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>