<div class="container">

    <div class="row no-gutters">
        <div class="col-sm-6 col-md-9">
            <h6 class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor dolorem deleniti odit esse
                perferendis
                tempora, eligendi enim repellat aliquam
                molestias excepturi consequatur culpa praesentium animi commodi ipsum maxime impedit et?
            </h6>
        </div>
        <div class="col-6 col-md-3">
            <img src="https://ih1.redbubble.net/image.430476727.0382/flat,128x128,075,t.u4.jpg">
        </div>
    </div>
    <br>
    <hr>
    <div class="row no-gutters">
        <div class="col-sm-6 col-md-9">
            <h6 class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor dolorem deleniti odit esse
                perferendis
                tempora, eligendi enim repellat aliquam
                molestias excepturi consequatur culpa praesentium animi commodi ipsum maxime impedit et?
            </h6>
        </div>
        <div class="col-6 col-md-3">
            <img src="https://ih1.redbubble.net/image.430476727.0382/flat,128x128,075,t.u4.jpg">
        </div>
    </div>
    <br>
    <hr>
    <div class="row no-gutters">
        <div class="col-sm-6 col-md-9">
            <h6 class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor dolorem deleniti odit esse
                perferendis
                tempora, eligendi enim repellat aliquam
                molestias excepturi consequatur culpa praesentium animi commodi ipsum maxime impedit et?
            </h6>
        </div>
        <div class="col-6 col-md-3">
            <img src="https://ih1.redbubble.net/image.430476727.0382/flat,128x128,075,t.u4.jpg">
        </div>
    </div>
    <br>
    <div class="card-body" style="text-align: end;">
        <a href="#" class="btn btn-primary rounded-circle">
            <i class="fa fa-angle-double-up fa-6" aria-hidden="true"></i>
        </a>
    </div>

</div>