<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
            <img class="logo" src="/assets/images/logoPlanoBlanco.png">
           </li>
            <li class="nav-item active ">
               <a class="nav-link" href="#">Hub3D <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Top proyects</a>
            </li>
            <li *ngIf="!_user.isLogged" class="nav-item active">
                <a class="nav-link  textNavbar" href="#" routerLink="/login">Sign in</a>
            </li>
            <li *ngIf="_user.isLogged"  class="nav-item">
                <a class="nav-link" href="#" type="submit" (click)="logOut()"  routerLink="/home">Sign out</a>
            </li>
            <li *ngIf="_user.isLogged" class="nav-item">
                <a class="nav-link" href="#"  routerLink="/user">User
                    <i class="fa fa-user-circle-o fa-5" aria-hidden="true" style="color: white;"></i>
                </a>
            </li>
        </ul>
        <form class="form-inline sticky-top">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>