<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <!-- cabecera -->
        <div class="col-sm-4 col-md-4 titleRow ">
            <div class="titleProyect rounded-right border-left-0">
                <h1 class="textCreateProyect">Detalle proyecto</h1>
            </div>
        </div>
    </div>
    <form name="proyectDetail" (ngSubmit)="proyectDetail.form.valid" #proyectDetail="ngForm">
        <div class="row ">
            <!-- boton ver usuario del proyecto -->
            <div class="col-sm-1 col-md-1 mt-5">
                <button type="button" (click)="userProyect()" class="rounded-circle shadow p-3 userBtn requireBtn">
                    <img src="https://microhealth.com/assets/images/illustrations/personal-user-illustration-@2x.png"
                        alt="user" class="img-fluid" alt="Responsive image">
                </button>
            </div>
            <!-- detalle proyecto y descripcion -->
            <div class="bgCard  col-md-4  offset-md-1 mt-5 rounded">
                <div class="textProyect">
                    <h6 class="font-weight-bolder textCreateProyect">Proyecto:</h6>
                    <h6 class="teextUser font-weight-normal">{{_data.proyectContents['nombre']}}</h6>
                    <h6 class="font-weight-bolder textCreateProyect">Categoria:</h6>
                    <h6 class="teextUser font-weight-normal">{{_data.proyectContents['categoria']}}</h6>
                    <h6 class="font-weight-bolder textCreateProyect">Necesito/Requiero:</h6>
                    <h6 class="teextUser font-weight-normal">{{_data.proyectContents['requierimiento']}}</h6>
                    <h6 class="font-weight-bolder textCreateProyect">Tipo:</h6>
                    <h6 class="teextUser font-weight-normal">{{_data.proyectContents['tipo']}}</h6>
                    <h6 class="font-weight-bolder textCreateProyect">Descripcion proyecto y necesidad:</h6>
                </div>
                <div class="card mt-3 descriptionProyect rounded">
                    <h6 class="font-weight-normal ">{{_data.proyectContents['descripcion']}}</h6>
                </div>
                <!-- enviar mail al usuario para colaboracion  -->
                <div class="mt-3" style="text-align: center;">
                    <a href="{{_user.mailUser}}" role="button" class="btn btn-lg btn-primary requireBtn">Solicitar
                        colaboracion</a>
                    <!-- Button trigger modal Crear Colaboracion-->
                    <form name="addNewColaboration" (ngSubmit)="addColaboration.form.valid && submitNewColaboration()"
                        #addColaboration="ngForm">

                        <button type="button" class="btn btn-lg btn-primary requireBtn mt-3" data-toggle="modal"
                            data-target="#exampleModal">
                            Crear colaboracion
                        </button>

                        <!-- Modal Crear Colaboracion-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content colaborationsModal">
                                    <div class="modal-header">
                                        <h5 class="modal-title teextUser textCreateProyect font-weight-bold" id="exampleModalLabel">Crear colaboracion</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="colaboracionEspecialidad " class="teextUser">En que
                                                especialidad quieres colaborar</label>
                                            <select class="form-control colaboracionEspecialidad"
                                                id="colaboracionEspecialidad"
                                                [(ngModel)]="_data.dataColaboracion['categoria']"
                                                [ngModelOptions]="{standalone:true}">
                                                <option value="">Selecciona especialidad</option>
                                                <option value="rigger">rigger</option>
                                                <option value="modeller">modeller</option>
                                                <option value="animador">animador</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" (click)="submitNewColaboration()"
                                            class="btn btn-primary">Crear colaboracion</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Fin modal create colaboracion -->
                </div>
                <br>
            </div>
            <!--imagenes proyecto -->
            <div class="row">
                <div class="card imageCard col-sm-3 col-md-5  mt-3">
                    <p>IMAGE PROYECT</p>
                    <p>IMAGE PROYECT</p>
                </div>
                <div class="card imageCard col-sm-3 col-md-5  mt-3">
                    <p>IMAGE PROYECT</p>
                    <p>IMAGE PROYECT</p>
                </div>

            </div>
        </div>
        <!--titulo listado de colaboraciones -->
        <div class="row">
            <div class="col-sm-4 col-md-4 titleRow ">
                <div class="titleColaboration rounded-right border-left-0">
                    <h1 class="textCreateProyect ">Colaboraciones</h1>
                </div>
            </div>
        </div>
        <br>
        <!-- listado colaboraciones -->
        <div class="col-md-10 offset-md-1 titleRow ">
            <div *ngFor="let colaboration of _data.colaborationsCount; let i = index" class="colaborations rounded-right rounded">
                <table class="table table-borderless ">
                    <thead>
                        <tr class="table rounded tablehead">
                            <th scope="col">
                                <h5 class="teextUser">foto</h5>
                            </th>
                            <th scope="col ">
                                <h5 class="teextUser">Usuario</h5>
                            </th>
                            <th scope="col ">
                                <h5 class="teextUser">colaboracion</h5>
                            </th>
                            <th scope="col ">
                                <h5 class="teextUser">Activo/Desactivo</h5>
                            </th>
                            <th scope="col ">
                                <h5 class="teextUser"></h5>
                            </th>
                            <th scope="col "></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h5 class="textBody font-weight-normal"></h5>
                            </td>
                            <td>
                                <h5 class="textBody font-weight-normal"></h5>
                            </td>
                            <td>
                                <h5 class="textBody font-weight-normal">{{colaboration['categoria']}}</h5>
                            </td>
                            <td>
                                <h5 class="textBody font-weight-normal"></h5>
                            </td>
                            <td>
                                <div class="row"></div>
                                <button type="button"   (cilck)="userColaboration()"  class="btn btn-success  col-md-5 ">User</button>
                                <button type="button" class="btn btn-danger offset-md-1 col-md-5">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>