<app-navbar></app-navbar>
<div class="conatiner-fluid">
    <div class="welcomeText text-uppercase">
        <h1>WELCOME {{_user.contents['username']}} IN HUB3D</h1>
    </div>
    <div class="row mt-4">
        <div class="card form col-md-10 offset-md-1 shadow p-3 mb-5 bgCard">
            <div class="userPosition col-md-1 offset-md-1">
                <div>
               <!-- <img  src="{{_user.contents['urlImageUser']}}"
                        alt="user" class="userPhoto rounded-circle shadow p-3 mb-5 bg-white">  -->

                        <img  src="https://microhealth.com/assets/images/illustrations/personal-user-illustration-@2x.png"
                        alt="user" class="userPhoto rounded-circle shadow p-3 mb-5 bg-white"> 
                   
                        <div class="col-10 col-md-1 offset-md-1 userButtons">
             
                        

                        <!-- Button trigger modal -->
<button *ngIf="_user.isLogged" type="button" class="btn btn-primary btn-sm " data-toggle="modal" data-target="#exampleModal">
    foto
  </button>
   <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">IMAGEN PERFIL</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="http://localhost:3000/upload" method="POST" enctype="multipart/form-data"> 
                <input name="myFile" type="file">
                <button type="button" >Enviar</button>
             </form>
        </div>
      </div>
    </div>
  </div>
                        <!-- botones -->
                        <a role="button" href="{{_user.mailUser}}" class="btn btn-primary mb-2 btn-sm textBody mt-2">
                            Contact/User</a>
                        <br>
                        <a  target="_blank" href="{{_user.contents['urlReel']}}"  role="button" class="btn btn-primary btn-sm">Demo/Reel</a>
                       
                    </div>
                </div>
            </div>

            <div class="card-header titleProfile row">
                <div class="col-sm-10 offset-md-1">
                    <div class="int-form"></div>
                    <h6 class="font-weight-light">name</h6>
                    <h5>{{_user.contents['name']}}</h5>

                    <h6 class="font-weight-light">especiality</h6>
                    <h6>{{_user.contents['habilidad']}}</h6>

                    <h6 class="font-weight-light">status</h6>
                    <h6>{{_user.contents['status']}}</h6>

                    <h6 class="font-weight-light">workStatus</h6>
                    <h6>{{_user.contents['workStatus']}}</h6>

                    <h6 class="font-weight-light">location</h6>
                    <h6>{{_user.contents['location']}}</h6>


                    <button type="button" class="btn btn-outline-info btn-sm" disabled>
                        Profile viewers <span class="badge badge-light">9</span>
                        <span class="sr-only">unread messages</span>
                    </button>
                </div>
                <div class="col-sm-1">
                    <!-- Button trigger modal -->
                    <button *ngIf="_user.isLogged" type="button" type="button"
                        class="btn btn-outline-primary rounded-circle" data-toggle="modal" data-target="#editHeader">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="editHeader" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editHeader">Datos usuario</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="int-form" name="formularioUsuario"
                                        (ngSubmit)="usuarioData.form.valid && submitModify()" #usuarioData="ngForm">
                                        <div class="form-group">
                                            <label for="especiality">Especiality</label>
                                            <select class="form-control" id="especiality"
                                                [(ngModel)]="_user.contents['habilidad']"
                                                [ngModelOptions]="{standalone:true}">
                                                <option value="rigger">rigger</option>
                                                <option value="modeller">modeller</option>
                                                <option value="animador">animador</option>
                                                <option value="concept-Artist">concept-Artist</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select class="form-control status" id="status"
                                                [(ngModel)]="_user.contents['status']"
                                                [ngModelOptions]="{standalone:true}">
                                                <option value="student">student</option>
                                                <option value="professional">professional</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="employment">Employment situation</label>
                                            <select class="form-control situation" id="employment"
                                                [(ngModel)]="_user.contents['situation']"
                                                [ngModelOptions]="{standalone:true}">
                                                <option value="working">working</option>
                                                <option value="looking for a job">looking for a job</option>
                                            </select>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="form-group">
                                                    <label for="recipient-City" class="col-form-label">City</label>
                                                    <input type="text" class="form-control" id="recipient-City"
                                                        [(ngModel)]="_user.contents['location']"
                                                        [ngModelOptions]="{standalone:true}">
                                                </div>
                                            </div>
                                            <div class="col-sm">
                                                <div class="form-group">
                                                    <label for="recipient-Country"
                                                        class="col-form-label">Country</label>
                                                    <input type="text" class="form-control " id="recipient-Country"
                                                        [(ngModel)]="_user.contents['location']"
                                                        [ngModelOptions]="{standalone:true}">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button (click)="submitModify()" data-dismiss="modal" type="button"
                                        class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body rounded-lg ">
                <div class="row">
                    <div class="col-md-11 ">
                        <div class="row">
                            <div class="col-sm">
                                <h6>Experience</h6>
                            </div>
                            <div class="col-sm offset-md-9 addButton">
                                <button *ngIf="_user.isLogged" type="button"
                                    class="btn btn-outline-success rounded-circle" data-toggle="modal"
                                    data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>

                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">New experience</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="int-form">
                                                    <div class="form-group">
                                                        <label for="recipient-Empresa"
                                                            class="col-form-label">Empresa</label>
                                                        <input type="text" class="form-control" id="recipient-Empresa">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-rango" class="col-form-label">distiplina
                                                        </label>
                                                        <input type="text" class="form-control" id="recipient-rango">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="employment Cargo">Cargo en empresa</label>
                                                        <select class="form-control Cargo" id="employment Cargo">
                                                            <option value="lead">lead</option>
                                                            <option value="mid">mid</option>
                                                            <option value="junior">junior</option>
                                                            <option value="senior">senior</option>
                                                        </select>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-sm">
                                                            <label for="recipient-fechaInit"
                                                                class="col-form-label">Fecha
                                                                inicio</label>
                                                            <input type="date" class="form-control"
                                                                id="recipient-fechaInit">
                                                        </div>
                                                        <div class="form-group col-sm">
                                                            <label for="recipient-fechaFin" class="col-form-label">Fecha
                                                                fin</label>
                                                            <input type="date" class="form-control"
                                                                id="recipient-fechaFin">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-url" class="col-form-label">Url trabajos
                                                            realizados en la empresa</label>
                                                        <input type="url" class="form-control" id="recipient-url">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="button" (click)="submitModify()"
                                                    class="btn btn-primary">Create new
                                                    experience</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">empresa</th>
                                    <th scope="col">especialidad</th>
                                    <th scope="col">cargo</th>
                                    <th scope="col">tiempo</th>
                                    <th scope="col">Url creacion en empresa</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td scope="row">{{_user.contents['empresa']}}locoFilms</td>
                                    <td bg-info>{{_user.contents['especialidad']}}animador</td>
                                    <td>{{_user.contents['cargo']}}lead</td>
                                    <td>22/03/2018 10/05/2020</td>
                                    <td><a href="{{_user.contents['EmpresaUrl']}}"
                                            target="_blank">{{_user.contents['EmpresaUrl']}}https://www.youtube.com/watch?v=cfRz-2wqaOA</a>
                                    </td>
                                    <td *ngIf="_user.isLogged"><button type="button"
                                            class="btn btn-outline-primary rounded-circle"><i class="fa fa-pencil"
                                                aria-hidden="true"></i></button></td>
                                    <td *ngIf="_user.isLogged"><button type="button"
                                            class="btn btn-outline-danger rounded-circle deleteBut"><i
                                                class="fa fa-trash " aria-hidden="true"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <hr>
                            <div *ngIf="_user.isLogged">
                                <div class="input-group mb-3 col-md-10 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">insert url
                                            reel/portfolio</span>
                                    </div>
                                    <input type="url" class="form-control" id="basic-url"
                                        aria-describedby="basic-addon3" placeholder="https://example.com/users/"
                                        [(ngModel)]="_user.contents['urlReel']" [ngModelOptions]="{standalone:true}">
                                    
                                        <button class="btn btn-primary" (click)="submitModify()" type="submit" value="Submit">Send</button>
                                </div>
                                <div>
                                    <button routerLink="/proyectCreate" type="button"
                                        class="btn btn-outline-success btn-lg btn-block">Crear Proyecto</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cabecera  proyectos usuario -->
    <div class="row">
        <div class="col-sm-6 col-md-4 titleRow ">
            <div class="titleProyect rounded-right border-left-0">
                <h1 class="textCreateProyect">PROYECTOS: {{_user.contents['username']}}</h1>
            </div>
        </div>
        <!-- proyectos usuario -->
        <div *ngFor="let proyect of _data.userProyects; let i = index" class="col-md-10 offset-md-1 titleRow ">
            <div class="proyectsUser rounded-right rounded">
                <table class="table table-borderless">
                    <thead>
                        <tr class="table rounded tablehead">
                            <th scope="col">
                                <h5 class="textCreateProyect">Username</h5>
                            </th>
                            <th scope="col ">
                                <h5 class="textCreateProyect">proyect</h5>
                            </th>
                            <th scope="col ">
                                <h5 class="textCreateProyect">Tipo</h5>
                            </th>
                            <th scope="col ">
                                <h5 class="textCreateProyect">Categoria</h5>
                            </th>
                            <th scope="col ">
                                <h5 class="textCreateProyect">Requiere</h5>
                            </th>
                            <th scope="col ">
                                <h5 class="textCreateProyect">Editar</h5>
                            </th>
                            <th scope="col "></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h5 class="textBody font-weight-normal">{{_user.contents['username']}}</h5>
                            </td>
                            <td>
                                <h5 class="textBody font-weight-normal">{{proyect['nombre']}}</h5>
                            </td>
                            <td>
                                <h5 class="textBody font-weight-normal">{{proyect['tipo']}}</h5>
                            </td>
                            <td>
                                <h5 class="textBody font-weight-normal">{{proyect['categoria']}}</h5>
                            </td>
                            <td>
                                <h5 class="textBody font-weight-normal">{{proyect['requierimiento']}}</h5>
                            </td>
                            <td>
                                <div class="row"></div>
                                <button type="button" routerLink="/proyectDetail/{{proyect['_id']}}"
                                    class="btn btn-success  col-md-5 ">Ver</button>
                                <button *ngIf="_user.isLogged"  (click)="removeProyect()" type="button" class="btn btn-danger offset-md-1 col-md-5"
                                >Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div >
            <div>
                <div class="titleColaboration rounded-right border-left-0">
                    <h1 class="textCreateProyect ">Colaboraciones</h1>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-10 offset-md-1 titleRow ">
            <div *ngFor="let colaboration of _data.colaborationsCount; let i = index" class="colaborations rounded-right rounded">
                <table class="table table-borderless ">
                    <thead>
                        <tr class="table rounded tablehead">
                            <th scope="col">
                                <h5 class="teextUser">foto</h5>
                            </th>
                            <th scope="col ">
                                <h5 class="teextUser">Usuario</h5>
                            </th>
                            <th scope="col ">
                                <h5 class="teextUser">colaboracion</h5>
                            </th>
                            <th scope="col ">
                                <h5 class="teextUser">Activo/Desactivo</h5>
                            </th>
                            <th scope="col ">
                                <h5 class="teextUser"></h5>
                            </th>
                            <th scope="col "></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h5 class="textBody font-weight-normal"></h5>
                            </td>
                            <td>
                                <h5 class="textBody font-weight-normal"></h5>
                            </td>
                            <td>
                                <h5 class="textBody font-weight-normal">{{colaboration['categoria']}}</h5>
                            </td>
                            <td>
                                <h5 class="textBody font-weight-normal"></h5>
                            </td>
                            <td>
                                <div class="row"></div>
                                <button type="button"  class="btn btn-success  col-md-5 ">User</button>
                                <button *ngIf="_user.isLogged" type="button" class="btn btn-danger offset-md-1 col-md-5">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>