<app-navbar></app-navbar>
<div class="conatiner-fluid">
    <h1>WELCOME USER IN HUB3D</h1>
    <div class="contentPerfil row">
      
        <div class="card card form col-md-10 offset-md-1 shadow p-3 mb-5 bg-white">
             <div class="card-body rounded-lg ">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, porro magnam illum, alias
                possimus accusamus eligendi, rem ut provident tenetur nemo doloremque!
                Temporibus exercitationem eveniet sunt ipsum repudiandae neque tempore.
            </div>
        </div>
        <div class="userPosition col-md-10 offset-md-1" >
            <img src="https://microhealth.com/assets/images/illustrations/personal-user-illustration-@2x.png" alt="user"
                class="userPhoto rounded-circle shadow p-3 mb-5 bg-white">
        </div>
    </div>
</div>