.textCreateProyect{
    color:lightblue;
}
.titleRow{
    padding-top: 36px;
    padding-left: inherit;
}
.titleProyect{
    background-image: linear-gradient(to top, rgba(6, 19, 27, 0.335), rgba(21, 162, 180, 0.678));
    
    padding-left: inherit;
    text-align: center;
    padding: 4px;
}

.userPhoto{
    height: 179px;
    width: auto;
    
} 
 .userPosition{
    margin-top: -82px;
    margin-left: -46px;
    position: absolute;
}

.userButtons {
    margin-top: -45px;
    margin-left: 27px;
   
}

.titleProfile{
    border-bottom: 0;
    text-align: center;
}

.addButton{
    margin-top: -8px;
}

.bgCard {
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(216, 246, 250, 0.418));
}
.deleteBut {
    margin-right: -7px;
}

.welcomeText {
    text-align: center;
    margin-top: 48px;
    color: white;
}
.textBody{
    color: white;
}

.proyectsUser{
    
   
    background: radial-gradient( rgba(19, 152, 170, 0.493),transparent);
}
.tablehead{
    background-image: linear-gradient(to top,transparent, rgba(6, 41, 46, 0.959));
    
}
.titleColaboration{
    background-image: linear-gradient(to top,rgba(218, 28, 235, 0.37), rgba(21, 162, 180, 0.678));
 
    padding-left: inherit;
    text-align: center;
    padding: 4px;
}
.colaborations{
    background: radial-gradient(rgba(218, 28, 235, 0.514),transparent);
}
.colaborationsModal{
    background: radial-gradient(rgba(218, 28, 235, 0.924),rgba(21, 161, 180, 0.733));
}
.teextUser{
    color:white
}
.textBody{
    color: lightblue;;
}
.colaborationsRow{
    display: 0;
}
.titleRowColaborationsUser{
    padding-top: 36px;
    padding-left: inherit;
}