body {
    /* background-image: url('/assets/images/globe-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    /* background-image: linear-gradient(rgb(98, 45, 245), rgb(56, 58, 150)); */
}
