
.bgPag {
    background-image: linear-gradient(
      
        rgba(0, 0, 0, 0.966), 
        rgba(2, 3, 7, 0.609),
        rgba(0, 0, 0, 0.966)

      ),url('/assets/images/bgHub3d.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    /* background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(216, 246, 250, 0.418)); */
}

