<div class="container-fluid">
    <div class="row ">
        <div class="card form col-md-5 offset-md-4 registerCard">
            <!-- <img src="https://ih1.redbubble.net/image.430476727.0382/flat,128x128,075,t.u4.jpg" class="card-img-top"> -->
            <br>
            <h1 class="logiTtext" style="text-align: center;">Register</h1>
            <br>
            <form class="form">
                <input [(ngModel)]="data['username']" [ngModelOptions]="{standalone:true}" type="text" class="form-control mb-3 text-reset" placeholder="Username">
                <input [(ngModel)]="data['name']" [ngModelOptions]="{standalone:true}" type="text" class="form-control mb-3 text-reset" placeholder="Name">
                <input [(ngModel)]="data['secondname']" [ngModelOptions]="{standalone:true}" type="text" class="form-control mb-3 text-reset" placeholder="Secondname">
                <input [(ngModel)]="data['email']" [ngModelOptions]="{standalone:true}" type="email" class="form-control mb-3 text-reset" placeholder="Email">
                <input [(ngModel)]="data['password']" [ngModelOptions]="{standalone:true}"  type="password" class="form-control mb-3 text-reset" placeholder="Password">
                <input type="password"  class="form-control mb-3" placeholder="Confirm password" type="password">
                
                <br>
                <button routerLink="/user" class="btn btn-primary btn-lg btn-block mb-3" (click)="submit()" type="submit">REGISTER</button>
                <hr>
                <div style="text-align: center;">
                    <a routerLink="/home">Home</a>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>