<div class="container-fluid">
    <div class="row ">
        <div class="card form col-md-5 offset-md-4 registerCard">
            <!-- <img src="https://ih1.redbubble.net/image.430476727.0382/flat,128x128,075,t.u4.jpg" class="card-img-top"> -->
            <br>
            <h1 class="logiTtext" style="text-align: center;">Register</h1>
            <br>
            <form class="int-form"
            name="formularioRegistro"
            (ngSubmit)="myFormulario.form.valid && submit()"
            #myFormulario="ngForm" >

                <input type="text" class="form-control mb-3 text-reset" placeholder="Username"
                required 
                name="newUserame"
                #inputnewUserame="ngModel"
                [(ngModel)]="data['username']" [ngModelOptions]="{standalone:true}"  pattern="[a-z]{3}">
               
                <div *ngIf="userNameRepeat" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Este usuario ya existe intente con otro o añada un numero</strong>
                    <button (click)="refreshPage()"  type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
               
               
                <div *ngIf="inputnewUserame.invalid && inputnewUserame.dirty" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Min 3 caracteres *campo obligatorio </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>



                <input [(ngModel)]="data['name']" [ngModelOptions]="{standalone:true}" type="text" class="form-control mb-3 text-reset" placeholder="Name">
                <input [(ngModel)]="data['secondname']" [ngModelOptions]="{standalone:true}" type="text" class="form-control mb-3 text-reset" placeholder="Secondname">

                <input type="email" class="form-control mb-3 text-reset" placeholder="Email" 
                required 
                [(ngModel)]="data['email']" [ngModelOptions]="{standalone:true}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" >
               

                <input 
                required
                name="password"
                #inputpassword ="ngModel"
                [(ngModel)]="data['password']" [ngModelOptions]="{standalone:true}"  type="password" class="form-control mb-3 text-reset" placeholder="Password"
                pattern="(?=.*[a-z]).{8,}">

         
                <div *ngIf="inputpassword.invalid && inputpassword.dirty" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Min 8 caracteres</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    
                <div *ngIf="minCaractersPassword" class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>tu contraseña tiene menos de 8 caracteres</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>


                <input
                required
                name="confirmPassword"
                #inputconfirmPassword = "ngModel"
                [(ngModel)]="confirmPassword['password']" [ngModelOptions]="{standalone:true}"
                 type="password"  class="form-control mb-3" placeholder="Confirm password">

                 <div *ngIf="noCoincidePassword" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>No coincide el password</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
    
                <br>
                <button  class="btn btn-primary btn-lg btn-block mb-3" (click)="submit()" type="button">REGISTER</button>
                <hr>
                <div style="text-align: center;">
                    <a routerLink="/home">Home</a>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>